### MySQL 사용 
- connect(database)
    - db에 연결 
- connection.cursor()
    - cursor 는 파이썬으로 데이터베이스 작업을 하는 동안 지속적으로 이용. 
- cursor.execute(sql)
    - SQL문 수행 
- cursor.executemany(sql, parameter)
    - sql문 수행. 여러건 실행할때 
- cursor.excutescript(sql_script)
    - 여러개의 SQL문을 한꺼번에 script 형태로 수행시킴 
    - commit문 이후에 해당 sql script 형태로 수행. 
- cursor.fetchone() 
    - 질의 결과를 한줄씩 가져옴 
- cursor.fetchmany()
    - 질의 결과를 여러줄 가져옴 
- cursor.fetchall() 
    - 쿼리 결과를 모두 갖져옴 
- connection.commit()
    - 현재 트랜젝션을 commit 
- connection.rollback() 
    - 마지막 commit 호출장소로 복귀 
- connection.close()  
    - 데이터베이스 연결을 닫음

### 설치 패키지 
- !pip install pymysql 
- !pip install sqlalchemy

### 1. 데이터 입력

In [3]:
import pymysql
import pandas as pd

conn, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
sql=""

conn = pymysql.connect(host='127.0.0.1',port=3306, user='root', password='admin', db='malldb', charset='utf8', autocommit=True)
conn.autocommit(True)
cur = conn.cursor()

try:
    data1 = "choi1"
    data2 = "choi gil-dong"
    data3 = "1234 "
    data4 = "choi"
    data5 = "abc.com"
    data6 = "2023-01-01"

    sql = "insert into member values(%s, %s, %s, %s, %s, %s)"
    vals = (data1, data2 , data3, data4, data5, data6)
    print(sql%vals)
    result = cur.execute(sql, vals)
    print(result)
    
finally:
    conn.commit()
    cur.close()
    conn.close()

insert into member values(choi1, choi gil-dong, 1234 , choi, abc.com, 2023-01-01)
1

### 연습문제 
- 데이터 입력 부분을 input 함수로 입력 받아 사용하세요.

In [ ]:
#data1 = input("사용자 ID(PK) hong==> ")
#data2 = input("username: hong gil-dong ==> ")
#data3 = input("userpwd : 1234 ==> ")
#data4 = input("emailid : gdhong ==> ")
#data5 = input("emaildomain : abc.com ==> ")
#data6 = input("joindate : now()  2023-06-01==> ")

### 2. 데이터 조회

In [11]:
import pymysql
import pandas as pd

conn = pymysql.connect(host='127.0.0.1',port=3306, user='root', password='admin', db='malldb', charset='utf8', autocommit=True)
conn.autocommit(True)
cur = conn.cursor()

try:
    cur.execute("SELECT * FROM member")
    print(f'|userid | username | password | emailid | emaildomain | joindate |')
    print("----------------------------------------------------")

    result = cur.fetchall()
    #print(result)
    for row in result:
        userid = row[0]
        username = row[1]
        password = row[2]
        emailid = row[3]
        emaildomain = row[4]
        joindate = row[5]
        print(f'| {userid} | {username} | {password} | {emailid} | {emaildomain} | {joindate} |')
    
finally:
    conn.commit()
    cur.close()
    conn.close()

|userid | username | password | emailid | emaildomain | joindate |
----------------------------------------------------
| song4 | song gildong | 1234 | song | abc.com | 2023-01-01 |
| won4 | won gildong | 1234 | won | abc.com | 2023-05-01 |
| choi | choi gil-dong | 1234  | choi | abc.com | 2023-01-01 |
| choi1 | choi gil-dong | 1234  | choi | abc.com | 2023-01-01 |

## Pandas 이용
- SELECT 결과를 csv 파일로 저장

In [17]:
import pandas
import pymysql

conn=pymysql.connect(host='localhost',port=3306,user='root',password='admin',db='malldb')
sql="select * from member"

result = pandas.read_sql_query(sql,conn) # 모두 조회 
print(result)
result.to_csv(r'pandas_output.csv',index=False)

conn.close()

  userid       username userpwd emailid emaildomain    joindate
0   hong  hong gil-dong    1234  gdhong     abc.com  2023-06-04
1  song4   song gildong    1234    song     abc.com  2023-01-01
2  song5   song gildong    1234    song     abc.com  2023-01-01
3   won4    won gildong    1234     won     abc.com  2023-05-01
4   won5    won gildong    1234     won     abc.com  2023-05-01

C:\Users\hjkim\AppData\Local\Temp\ipykernel_53172\4013796009.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pandas.read_sql_query(sql,conn) # 모두 조회

In [5]:
import pandas
import pymysql

conn=pymysql.connect(host='localhost',port=3306,user='root',password='admin',db='malldb')
cursor = conn.cursor()

sql="select * from member where userid=%s"
vals = 'choi'
cursor.execute(sql, vals)
result = cursor.fetchall() 
print(result)
print()
df = pd.DataFrame(result)
print(df)

()

Empty DataFrame
Columns: []
Index: []

### Pandas로 데이터 입력 
##### insert 하기 
- sqlalchemy 이용
- 주요코드 
    - db_connection_str = 'mysql+pymysql://[db유저이름]:[db password]@[host address]/[db name]'
    - db_connection = create_engine(db_connection_str)
    - df.to_sql(name='db의 테이블이름', con=db_connection, if_exists='append',index=False)  

        - con : con에 연결되는 db_connection은 create_engine()를 담은 변수로 설정 
        - if_exists : [fail, replace, append] -> 테이블이 이미 존재하는 경우 어떻게 할지에 대한 옵션
            - fail : ValueError 발생/ append : 존재하는 테이블에 값 저장
            - append의 경우는 기존에 있는 테이블에 저장을 하는 것이여서 저장할 데이터프레임의 길이나 타입이 맞지않는다면 오류
            - replace : 테이블 지우고 새로 생성 후 값 저장
            - replace는 새로 데이터프레임 타입에 맞춰 테이블이 생성되므로 데이터프레임 타입이 object일땐 mysql에서는 TEXT로 변경
        - dtype옵션으로 데이터 타입 정의가능

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

# DB연결 
db_connection_str = 'mysql+pymysql://root:admin@localhost/malldb'
db_connection = create_engine(db_connection_str)

# 입력할 데이터프레임
df = pd.DataFrame([['song1','song gildong','1234','song','abc.com', '2023-01-01'],
                   ['won1', 'won gildong', '1234', 'won', 'abc.com', '2023-05-01']]
                  , columns=['userid', 'username', 'userpwd', 'emailid', 'emaildomain','joindate'])
print(df)

# 테이블의 데이터타입 정의
dtypesql = {'userid':sqlalchemy.types.VARCHAR(11), 
          'username':sqlalchemy.types.VARCHAR(50),
          'userpwd':sqlalchemy.types.VARCHAR(50), 
          'emailid':sqlalchemy.types.VARCHAR(50), 
          'emaildomain':sqlalchemy.types.VARCHAR(50), 
          'joindate':sqlalchemy.Date(), 
}

# DB 테이블에 INSERT 
result = df.to_sql(name='member', con=db_connection, if_exists='append',index=False, dtype=dtypesql)  
print(result)

#DB연결종료
db_connection.dispose()

  userid      username userpwd emailid emaildomain    joindate
0  song1  song gildong    1234    song     abc.com  2023-01-01
1   won1   won gildong    1234     won     abc.com  2023-05-01
2

In [2]:
result2 = df.to_sql(name='member', con=db_connection, if_exists='replace',index=False, dtype=dtypesql)  
print(result2)    #Number of rows affected by to_sql
conn.close()

2

### 업데이트 UPDATE

In [15]:
import pandas as pd 
import pymysql 

conn=pymysql.connect(host='localhost',port=3306,user='root',password='admin',db='malldb')
cursor = conn.cursor() 

sql = "UPDATE member SET username=%s,userpwd=%s,emailid=%s,emaildomain=%s,joindate=%s WHERE userid=%s"
vals = ('song gildong','1234','song','abc.com', '2023-01-01', 'song1')
cursor.execute(sql, vals)
conn.commit() 
conn.close()

### 삭제 DELETE

In [16]:
import pandas as pd 
import pymysql 

conn=pymysql.connect(host='localhost',port=3306,user='root',password='admin',db='malldb')
cursor = conn.cursor() 

sql = "DELETE FROM member WHERE userid=%s"
vals = ('song1',)
cursor.execute(sql, vals)
conn.commit() 
conn.close()