In [1]:
import numpy as np
import pandas as pd

In [2]:
#해당 파일을 읽어 df를 생성하세요(tips1.csv)
tipdf = pd.read_csv('data/tips1.csv')
tipdf.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner   2.0
1       10.34  1.66    Male     No  Sun  Dinner   3.0
2       21.01  3.50    Male     No  Sun  Dinner   3.0
3       23.68  3.31    Male     No  Sun  Dinner   2.0
4       24.59  3.61  Female     No  Sun  Dinner   4.0

In [5]:
#df의 정보를 조회하세요
tipdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  245 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      245 non-null    object
 4   day         245 non-null    object
 5   time        245 non-null    object
 6   size        242 non-null    float64
dtypes: float64(3), object(4)
memory usage: 13.5+ KB

In [19]:
# tipdf 데이터 프레임을  day컬럼으로 그룹바이 하여, 
# tip 평균을 출력하세요.

# code here

           tip
day
Fri   2.734737
Sat   2.993103
Sun   3.255132
Thur  2.771452

In [20]:
# tipdf 데이터 프레임을 'sex' 컬럼과 'smoker' 컬럼으로 그룹바이하여 
# tip 평균을 출력하세요.

# code here

                    tip
sex    smoker
Female No      2.769245
       Yes     2.931515
Male   No      3.113402
       Yes     3.051167

In [22]:
# tipdf 데이터중 sex 컬럼을 가져와서 그룹바이를 하고, tip정보를 출력하세요.
# 각각 평균값, 합산값, 표준편차를 출력해보세요.  agg 함수 사용

# code here

             tip
            mean     sum       std
sex
Female  2.831512  243.51  1.166154
Male    3.089618  485.07  1.489102

In [24]:
# 피보팅 
# 요일별, 성별별로 팁의 평균을 구해보세요. index에는 day 컬럼을 구해보세요

# code here

sex     Female      Male
day
Fri   2.781111  2.693000
Sat   2.801786  3.083898
Sun   3.367222  3.220345
Thur  2.561935  2.980333